%-*- mode: erlang -*-
{erl_opts,[{parse_transform, lager_transform}]}.
{excl_archive_filters, [".*"]}.
{lib_dirs,["deps"]}.
{src_dirs, ["./src"]}.

{deps, [
   {lager, "3.9.2"},
  {rabbit_common, "3.10.1"},
   {amqp_client, "3.10.1"},
  {liberlang,        {git, "git://github.com/heyoka/liberlang.git", {branch, "master"}}}
	]}.


{shell, [
   {config, "./sys.config"},
   {apps, [carrot, amqp_client]}
]}.
