%-*- mode: erlang -*-
{erl_opts,[]}.
{excl_archive_filters, [".*"]}.
{lib_dirs,["deps"]}.
{src_dirs, ["./src"]}.

{deps, [
   {lager, "3.7.0"},
   {amqp_client, "3.8.3"}
	]}.


{shell, [
   {config, "./sys.config"},
   {apps, [carrot]}
]}.

%%{post_hooks, [
%%	{compile, "cp ./sys.config ./ebin/sys.config"}
%%   ]}.
